# codelite (IDE) related
.codelite
*.phprj
*.workspace
.vscode
*.swp

# config 
api/config.php

# vendor
vendor

# log files
api/scripts/*.log

# database
api/db/*.db

# upload folder
images/upload

package-lock.json
