<div class="container-fluid date-page">

	<!-- delete button -->
	<button ng-if="hasRestrictedAccess" class="btn btn-large btn-danger pull-right" ng-click="data.deleteDate();">
		<i class="glyphicon glyphicon-remove"></i> Delete this date
	</button>

	<h1>{{data.date.date_ts * 1000 | date:'EEEE, dd LLLL yyyy' }}</h1>
	
	<hr />
	
	<div class="row">
		<div class="col-xs-12">
			<models-categories-tabs 
				ng-show="hasRestrictedAccess"
				initial-value="{{category}}"
				addUncategorized="false" 
				on-select="tabs.tabClicked(newSelectedTab)"
				on-load="tabs.dataLoaded(modelsCategories)"></models-categories-tabs>

			<br />

			<article ng-repeat="model in data.availableModels | filterModelsByCategory:tabs.current">
				<!-- free -->
				<model-box 
					ng-if="!hasRestrictedAccess"
					ng-model="model"></model-box>
					
				<!-- restricted (with actions) -->
				<model-box 
					ng-if=" hasRestrictedAccess"
					ng-model="model" 
					on-exclude="data.excludeModel(data.date, model);"
					on-choose="data.chooseModel(data.date, model);"
					on-make-unavailable="data.makeUnavailable(data.date, model);"
					></model-box>
			</article>
		</div>
	</div>
	
	<div ng-if="data.models.length > 0 && hasRestrictedAccess">
		<hr />
		
		<div class="row" style="background: #EFE; padding: 10px; border-top: 1px solid #DDE; border-left: 5px solid green;">
			<h2>All the available models</h2>
			
			<div class="col-xs-12">
				<article ng-repeat="model in data.models | filterModelsByCategory:tabs.current">
					<model-box-small 
						ng-model="model" 
						on-make-available="data.makeAvailable(data.date, model);"></model-box-small>
				</article>
			</div>
		</div>
	</div>
	
	<div ng-if="data.chosenModels.length > 0 && hasRestrictedAccess">
		<hr />
		
		<div class="row" style="background: #EFE; padding: 10px; border-top: 1px solid #DDE; border-left: 5px solid green;">
			<h2>Chosen models</h2>
			
			<div class="col-xs-12">
				<article ng-repeat="model in data.chosenModels">
					<model-box-small 
						ng-model="model" 
						on-un-choose="data.unChooseModel(data.date, model);"></model-box-small>
				</article>
			</div>
		</div>
	</div>
	
	<div ng-if="data.excludedModels.length > 0 && hasRestrictedAccess">
		<hr />
		
		<div class="row" style="background: #FFE; padding: 10px; border-top: 1px solid #DDE; border-left: 5px solid orange;">
			<h2>Excluded models</h2>
			
			<div class="col-xs-12">
				<article ng-repeat="model in data.excludedModels">
					<model-box-small
						ng-model="model" 
						on-include="data.includeModel(data.date, model);"></model-box-small>
				</article>
			</div>
		</div>
	</div>
	
	<br />
	<br />
	<br />
	<br />
	
</div>
