<div class="container-fluid date-page">

	<!-- delete button -->
	<button ng-if="hasRestrictedAccess" class="btn btn-large btn-danger pull-right" ng-click="data.deleteDate();">
		<i class="glyphicon glyphicon-remove"></i> Delete this date
	</button>

	<h1>{{data.date.date_ts * 1000 | date:'EEEE, dd LLLL yyyy' }}</h1>
	
	
	<form ng-if="hasRestrictedAccess" class="form-horizontal" ng-submit="data.updateDescription()" name="data.updateDescriptionForm">
		<hr />
		<label><i class="glyphicon glyphicon-pencil"></i> Description</label>
		<div>
			<textarea class="form-control" ng-model="data.date.description"></textarea>
		</div>
		<br />
		<input type="submit" value="Update description" class="btn btn-primary" />
		<span class="text-warning" ng-if="data.updateDescriptionForm.$dirty">&nbsp;&nbsp;<i class="glyphicon glyphicon-warning-sign"></i> Please update!</span>
	</form>
	
	<p ng-if="!hasRestrictedAccess && data.date.description.length > 0" ng-bind-html="data.date.description | nl2br"></p>
	
	<hr />
	
	<div ng-if="data.chosenModels.length > 0 && hasRestrictedAccess">
		
		<div class="row" style="background: #EFE; padding: 10px; border-top: 1px solid #DDE; border-left: 5px solid green;">
			<h2>Chosen models for this date <small>Models that were already chosen by the clients</small></h2>
			
			<div class="col-xs-12">
				<article ng-repeat="model in data.chosenModels">
					<model-box-small 
						ng-model="model" 
						on-un-choose="data.unChooseModel(data.date, model);"></model-box-small>
				</article>
			</div>
		</div>
		
		<hr />
	</div>
	
	<div ng-if="data.excludedModels.length > 0 && hasRestrictedAccess">

		<div class="row" style="background: #FFE; padding: 10px; border-top: 1px solid #DDE; border-left: 5px solid orange;">
			<h2>Stand-by models <small>Models under question mark - these are "maybe" models</small></h2>
			
			<div class="col-xs-12">
				<article ng-repeat="model in data.excludedModels">
					<model-box-small
						ng-model="model" 
						on-include="data.includeModel(data.date, model);"></model-box-small>
				</article>
			</div>
		</div>
		
		<hr />
	</div>
	
	
	<div class="row">
		<div class="col-xs-12 homepage-models-wrapper">
			<h2>Relevant models for this date</h2>
			<models-categories-tabs 
				Xng-show="hasRestrictedAccess"
				initial-value="{{category}}"
				addUncategorized="false" 
				on-select="tabs.tabClicked(newSelectedTab)"
				on-load="tabs.dataLoaded(modelsCategories)"></models-categories-tabs>

			<br />

			<article ng-repeat="model in data.availableModels | filterModelsByCategory:tabs.current">
				<!-- free -->
				<model-box 
					ng-if="!hasRestrictedAccess"
					ng-model="model"></model-box>
					
				<!-- restricted (with actions) -->
				<model-box 
					ng-if=" hasRestrictedAccess"
					ng-model="model" 
					on-exclude="data.excludeModel(data.date, model);"
					on-choose="data.chooseModel(data.date, model);"
					on-make-unavailable="data.makeUnavailable(data.date, model);"
					></model-box>
			</article>
		</div>
	</div>
	
	<div ng-if="data.models.length > 0 && hasRestrictedAccess">
		<hr />
		
		<div class="row" style="background: #EFE; padding: 10px; border-top: 1px solid #DDE; border-left: 5px solid #6495ed;">
			<h2>
				<a href="javascript:;" ng-click="data.makeAllAvailable(data.date, tabs.current);" class="btn btn-default pull-right">Make all relevant</a>
				All the available models <small>Models that are not relevant for this date. You may make them relevant by clicking the arrow-up icon</small>
			</h2>
			
			<div class="col-xs-12">
				<article ng-repeat="model in data.models | filterModelsByCategory:tabs.current">
					<model-box-small 
						ng-model="model" 
						on-make-available="data.makeAvailable(data.date, model);"></model-box-small>
				</article>
			</div>
		</div>
	</div>
	
	<br />
	<br />
	<br />
	<br />
	
</div>
