<div class="col-xs-12 col-md-3 sidebar-wrapper">
	<h4>Add new model</h4>
	
	<form ng-submit="models.addNewModel()">
		<p class="input-group" ng-class="{'has-error': models.newModelError}">
			<input type="text" ng-model="models.newModelName" class="form-control" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="addNewModel()"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add</button>
			</span>
		</p>
		<p ng-show="models.newModelError" class="alert alert-warning">{{models.newModelError}}</p>
	</form>
	
	<hr />
	
	<h4>Add new date</h4>
	
	<form ng-submit="dates.addNewDate()">
		<p class="input-group" ng-class="{'has-error': dates.newDateError}">
			<input type="text" class="form-control"
				ng-click="dates.newDateOpen = !dates.newDateOpen"
				uib-datepicker-popup="dd MMMM yyyy" 
				ng-model="dates.newDate" 
				is-open="dates.newDateOpen" 
				datepicker-options="dates.newDateOptions" 
				close-text="Close" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="dates.newDateOpen = !dates.newDateOpen"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add</button>
			</span>
		</p>
		<p ng-show="dates.newDateError" class="alert alert-warning">{{dates.newDateError}}</p>
	</form>
	
	<hr />
	
	<h4>Existing dates</h4>
	<div class="list-group">
		<a href="#/date/{{date.hash}}" class="list-group-item" ng-repeat="date in dates.data">
			<span class="badge alert-info" ng-show="true || date.excluded_models.length > 0" title="{{date.excluded_models.length}} excluded models">{{date.excluded_models.length}}</span>
			{{ date.date_ts | secondsToMilliseconds | date: 'dd MMM yyyy' }}
		</a>
	</div>
</div>
<div class="col-xs-12 col-md-9">
	<article ng-repeat="model in models.data">
		<modelBox ng-model="model"></modelBox>
	</article>
</div>



<!-- modal example -->
<!-- 
<script type="text/ng-template" id="modal-content.html">
	<div class="modal-header">
		<h3 class="modal-title">Select Fruit</h3>
	</div>
	<div class="modal-body">
		<span class="btn-group">
			<a ng-repeat="item in items" ng-click="selected.item = item"
			   class="btn {{item == selected.item ? 'btn-primary' : 'btn-default' }}">{{ item }}</a>
		</span>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="ok()">OK</button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</script>
-->