<!-- add login popup -->
<ng-include src="'/views/snippets/login-curtain.html'"></ng-include>

<div>
	<a href="javascript:;" class="shrink-expand-sidebar-button" ng-click="sidebar.shrinkExpandHomepageSidebar();" title="Show or hide the task bar">
		<span ng-show=" sidebar.expanded"><i class="glyphicon glyphicon-arrow-left"></i> Shrink</span>
		<span ng-show="!sidebar.expanded"><i class="glyphicon glyphicon-arrow-right"></i> Expand</span>
		Sidebar
	</a>
	<div class="col-xs-12 col-md-2 sidebar-wrapper" 
		ng-show="sidebar.expanded" 
		ng-if="hasRestrictedAccess">
		
		<h4>Add new model</h4>
		
		<form ng-submit="models.addNewModel()">
			<p class="input-group" ng-class="{'has-error': models.newModelError}">
				<input type="text" ng-model="models.newModelName" class="form-control" placeholder="Model full name here (e.g. Kate Upton)" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-success" ng-click="addNewModel()"><i class="glyphicon glyphicon-plus"></i> Add</button>
				</span>
			</p>
			<p ng-show="models.newModelError" class="alert alert-warning">{{models.newModelError}}</p>
		</form>
		
		<a href="#/models_categories">Manage models categories</a>
		
		<hr />
		
		<h4>Add new date</h4>
		
		<form ng-submit="dates.addNewDate()">
			<p class="input-group" ng-class="{'has-error': dates.newDateError}">
				<input type="text" class="form-control"
					ng-click="dates.newDateOpen = !dates.newDateOpen"
					uib-datepicker-popup="dd MMMM yyyy" 
					ng-model="dates.newDate" 
					is-open="dates.newDateOpen" 
					datepicker-options="dates.newDateOptions" 
					close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="dates.newDateOpen = !dates.newDateOpen"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add</button>
				</span>
			</p>
			<p ng-show="dates.newDateError" class="alert alert-warning">{{dates.newDateError}}</p>
		</form>
		
		<hr />
		
		<h4>Search</h4>
		
		<form>
			<div class="input-group">
				<input type="text" class="form-control" 
					ng-class="{'non-empty-filter-input': models.filterString}"
					ng-model="models.filterString" 
					ng-model-options="{updateOn: 'default', debounce: {default: 1000}}"
					placeholder="Start typing model name" />
				<span class="input-group-btn">
					<button ng-show="!models.filterString" type="button" class="btn btn-success">
						<i class="glyphicon glyphicon-search"></i>
					</button>
					<button ng-show=" models.filterString" type="button" class="btn btn-success" 
						ng-click="models.filterString = ''" title="Clear the filter">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
				</span>
			</div>
		</form>
		
		<hr />
		
		<h4>Existing dates</h4>
		<div class="list-group">
			<a ng-href="#/date/{{date.hash}}" class="list-group-item" ng-repeat="date in dates.data">
				<span class="badge alert-info" 
					title="{{date.excluded_models.length}} models on stand-by">{{date.excluded_models.length}}</span>
				<span class="badge alert-success" 
					title="{{date.chosen_models.length}} chosen models">{{date.chosen_models.length}}</span>
				{{ date.date_ts | secondsToMilliseconds | date: 'dd MMM yyyy' }}
			</a>
		</div>
	</div>
	
	<div class="col-xs-12 homepage-models-wrapper" ng-class="{'col-md-10':sidebar.expanded, 'col-md-12':!sidebar.expanded}">
		
		<models-categories-tabs 
				initial-value="{{tabs.initialTab}}"
				addUncategorized="false"
				on-select="tabs.tabClicked(newSelectedTab)"
				on-load="tabs.loaded(modelsCategories)"></models-categories-tabs>
		
		<br />
		
		<article ng-repeat="model in models.data | filterModelsByCategory:tabs.current | filterModelsByName:models.filterString">
			<model-box ng-model="model" on-relocate="models.load()" on-delete="models.load()"></model-box>
		</article>
	</div>
</div>