<div class="container-fluid date-page" ng-if="list.data.id">

	<!-- delete button -->
	<button ng-if="hasRestrictedAccess" class="btn btn-large btn-danger pull-right" ng-click="list.delete();">
		<i class="glyphicon glyphicon-remove"></i> Delete this list
	</button>

	<!-- copy URL button -->
	<button ng-if="hasRestrictedAccess" class="btn btn-large btn-primary pull-right" ngclipboard data-clipboard-text="{{publicUrl}}">
		<i class="glyphicon glyphicon-link"></i> Copy URL
	</button>

	<!-- display list name + form -->
	<h1>
		<span ng-if="!list.nameFormIsDisplayed">{{ list.data.name }}</span>
		<a href="javascript:;" ng-click="list.displayNameForm()" 
			style="font-size: 14px;"
			title="Double click on the name to change it" 
			ng-if="hasRestrictedAccess && !list.nameFormIsDisplayed">
			<i class="glyphicon glyphicon-pencil"></i>
		</a>
	</h1>
	<div>
		<form ng-if="list.nameFormIsDisplayed" class="form-inline" ng-submit="list.updateName()">
			<div class="form-group">
				<label for="listName"><i class="glyphicon glyphicon-pencil"></i> List Name</label>
				<input type="text" name="listName" class="form-control" ng-model="list.data.name" />
			</div>
			<input type="submit" value="Update" class="btn btn-primary" />
			<input type="button" value="Cancel" class="btn btn-default" ng-click="list.nameFormIsDisplayed = false;" />
		</form>
	</div>
	
	<hr />
	
	<div class="row">
		<div class="col-xs-12 homepage-models-wrapper">
			<!-- unfilter tabs -->
			<models-categories-tabs 
				ng-if=" hasRestrictedAccess"
				on-select="tabs.tabClicked(newSelectedTab)"
				on-load="tabs.dataLoaded(modelsCategories)"></models-categories-tabs>

			<!-- filtered tabs -->
			<models-categories-tabs 
				ng-if="!hasRestrictedAccess"
				include-only="list.loadedModelsCategories"
				on-select="tabs.tabClicked(newSelectedTab)"
				on-load="tabs.dataLoaded(modelsCategories)"></models-categories-tabs>

			<br />

			<article ng-repeat="model in list.models | filterModelsByCategory:tabs.current">
				<!-- free -->
				<model-box 
					ng-if="!hasRestrictedAccess"
					ng-model="model"></model-box>
					
				<!-- restricted (with actions) -->
				<model-box 
					ng-if=" hasRestrictedAccess"
					ng-model="model" 
					on-make-unavailable="list.removeModel(model);"
					></model-box>
			</article>
		</div>
	</div>
	
	<div ng-if="list.allModels.length > 0 && hasRestrictedAccess">
		<hr />
		
		<div class="row" style="background: #EFE; padding: 10px; border-top: 1px solid #DDE; border-left: 5px solid #6495ed;">
			<h2>
				All the available models
			</h2>
			
			<div class="col-xs-12">
				<article ng-repeat="model in list.allModels | filterModelsByCategory:tabs.current | filterAlreadyChosenModels:list.data.models">
					<model-box-small 
						ng-model="model" 
						on-make-available="list.addModel(model);"></model-box-small>
				</article>
			</div>
		</div>
	</div>
	
	<br />
	<br />
	<br />
	<br />
	
</div>
