<div class="container-fluid">

	<!-- the gallery -->
	<an-gri-gal ng-if="gallery.isOpen" images="model.details.images" initial-index="gallery.initialIndex" on-close="gallery.close();"></an-gri-gal>

	<h1>Model {{model.details.name}}</h1>
	<p title="{{model.details.name}}" class="lead secondary-title">{{model.details.notes}}</p>
	
	<!-- upload new images -->
	<div class="upload-model-images-wrapper">
		
		<h3>Upload new images</h3>
		<div class="upload-model-images-drop-area" 
			ngf-drop 
			ng-model="uploader.files"
			ngf-multiple="true" 
			accept="image/*"
			ngf-drag-over-class="'model-images-dragover'" 
			title="Drop images to that area">
			<span class="upload-model-images-drop-area-text">Drop images here</span>
			<br />
			<button
				class="btn btn-primary btn-large"
				ngf-select="uploader.uploadFiles($files, $invalidFiles)" 
				ngf-multiple="true" 
				accept="image/*"
				title="Click the button to select files from your computer">
				<i class="glyphicon glyphicon-picture"></i> Select files from my PC
			</button>
			
		</div>
		<div class="text-danger" ng-if="uploader.errorMessage" ng-attr-title="{{uploader.errorMessage}}">{{uploader.errorMessage}}</div>
		
		<hr />
		
	</div>
	
	<!-- model comments -->
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<form class="form-horizontal" ng-submit="model.update()" name="model.detailsForm">
				<div class="form-group">
					<label class="col-sm-2">Name</label>
					<div class="col-sm-10"><input type="text" class="form-control" ng-model="model.details.name" /></div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2">Notes</label>
					<div class="col-sm-10"><textarea class="form-control" ng-model="model.details.notes">{{model.details.notes}}</textarea></div>
				</div>
					
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">
							<i class="glyphicon glyphicon-pencil"></i> Update
						</button>
						<span ng-show="model.detailsForm.$dirty" class="text-warning" title="Model details are not updated until you press the update button">
							&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-warning-sign"></i> Please update!
						</span>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	
	<hr />
	
	<!-- images list -->
	<div ng-if="model.details.images.length > 0" class="model-image-wrapper" ng-repeat="imageUrl in model.details.images">
		<a ng-click="gallery.setInitialIndex($index); gallery.open();" class="main-image-lightbox-link" title="Click to see model images in original size">
			<i class="fa fa-search-plus"></i>
		</a>
		
		<div class="model-image-wrapper-inner">
			<img ng-src="{{IMAGES_BASE_URL}}/{{imageUrl}}" />
		</div>
		<div class="model-toolbar">
			<a href="javascript:;" class="btn btn-link pull-right icon-red"
				ng-click="model.deleteImage(imageUrl);" 
				title="Delete the image">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			<a href="javascript:;" class="btn btn-link pull-right"
				ng-click="model.makeMainImage(imageUrl);" 
				title="Make model&rsquo;s main image">
				<i ng-if="$index == 0" class="glyphicon glyphicon-star icon-green"></i>
				<i ng-if="$index != 0" class="glyphicon glyphicon-star-empty"></i>
			</a>
		</div>
	</div>
	<div ng-if="model.details.images.length == 0" class="model-no-images-wrapper">
		No images :(
	</div>
	
</div>