<!-- the login curtain for non logged in users -->
<div class="curtain" ng-show="!loginInProcess && !loggedInUser"></div>
<div class="curtain-login-area" ng-show="!loginInProcess && !loggedInUser">
	<h1>Models-Dates management</h1>
	<p>Please login using the facebook button below</p><br />
	<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
	<br><hr><br>
	<p>For more information <a href="mailto:moshkovich.marina@gmail.com">moshkovich.marina@gmail.com</a></p>
</div>