.homepage-container {
	article {
		float: left;
		margin: 0 10px 10px 0;
	}
}

@media (max-width: 991px) {
	.homepage-models-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
}

.shrink-expand-sidebar-button {
	position: absolute;
	margin-top: -20px;
	z-index: 10;
	
	padding: 0px 5px;
	font-size: 10px;
	font-weight: bold;
	background: #EEE;
	border: 1px solid #CCC;
	color: #555;
	opacity: 0.5;
	
	&:hover {
		opacity: 1;
	}
}

.sidebar-wrapper {
	background: #EFE;
	border: 1px solid #DED;
}

.non-empty-filter-input {
	background: #FAA;
}


///////////////////////////////////////////////////////////////////////////////////////////

.mobile {
	
	nav {
		overflow: hidden;
		background: #EEE;
		border-bottom: 1px solid #BBB;
		
		a {
			display: block;
			float: left;
			width: 50%;
			text-align: center;
			line-height: 3em;
			text-decoration: none;
			
			&.selected {
				background: #DDD;
			}
		}
	}
	
	ul.mobile-models-list {
		padding: 0;
		margin: 0;
		margin-top: 50px;
		
		li {
			
			padding: 0;
			margin: 0 15px 15px 0;
			
			width: 300px;
			height: 350px;
			float: left;
			display: block;
			overflow: hidden;
			border: 1px solid #AAA;
			background: #F6F6F6;
			
			a {
				display: block;
				text-align: center;
				text-decoration: none;
				padding: 0;
				margin: 0;
				
				div.mobile-model-image-wrapper {
					width: 300px;
					height: 300px;
					line-height: 300px;
					text-align: center;
					
					img {
						display: inline-block;
						max-width: 100%;
						max-height: 100%;
						vertical-align: middle;
					}
				}
				
				p {
					height: 50px;
					font-size: 2em;
				}
			}
		}
	}
	
	/*
	.mobile-model-box {
		height: 480px;
		margin-bottom: 20px;
		
		.mobile-model-box-image-wrapper {
			display: block;
			height: 350px;
			line-height: 350px;
			text-align: center;
			
			img {
				display: inline-block;
				margin: 0;
				padding: 0;
				letter-spacing: 0;
				max-height: 100%;
				max-width: 100%;
				vertical-align: middle;
			}
		}
	}
	*/
	
	.mobile-button-add-new {
		position: fixed;
		
		bottom: 80px;
		right: 80px;
		
		width: 120px;
		height: 120px;
		line-height: 135px;
		text-align: center;
		
		font-size: 5em;
		background: #369;
		color: #FFF;
		
		border-radius: 60px;
		
		box-shadow: 15px 15px 10px rgba(0,0,0,0.3);
	}
	
}


