.homepage-container {
	article {
		float: left;
		margin: 0 10px 10px 0;
	}
}

.shrink-expand-sidebar-button {
	position: absolute;
	margin-top: -20px;
	z-index: 10;
	
	padding: 0px 5px;
	font-size: 10px;
	font-weight: bold;
	background: #EEE;
	border: 1px solid #CCC;
	color: #555;
	opacity: 0.5;
	
	&:hover {
		opacity: 1;
	}
}

.sidebar-wrapper {
	background: #EFE;
	border: 1px solid #DED;
}