body {
	paddinng: 20px;
	font: "Avenir" 16px/24px;
}

.page-content {
	padding-top: 75px;
}

.icon-red {
	color: #C11 !important;
}

.icon-green {
	color: #1C1 !important;
}

.icon-orange {
	color: darkorange;
}

.secondary-title {
	color: #888;
}

.curtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	background: #FFF;
	opacity: 0.8;
	
	z-index: 1031;
}

.curtain-login-area {
	position: fixed;
	
	height: 50%;
	min-height: 300px;
	width: 50%;
	min-width: 300px;
	
	top: 15%;
	right: 25%;
	bottom: 25%;
	left: 25%;
	
	padding-top: 5%; 
	
	background: #FFF;
	border: 1px solid #DDD;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	z-index: 1032;
	
	text-align: center;
}

.invisible {
	visibility: hidden;
}



// import page styles

@import "homepage";
@import "model-box";
@import "model-box-small";
@import "ang-gri-gal";


// pages
@import "model";
@import "date";
