body {
	paddinng: 20px;
	font: "Avenir" 16px/24px;
}

.page-content {
	padding-top: 75px;
}

.icon-red {
	color: #C11 !important;
}

.icon-green {
	color: #1C1 !important;
}

.icon-orange {
	color: darkorange;
}

.secondary-title {
	color: #888;
}

.text-overflow-fix {
	max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.curtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	background: #369;
	
	z-index: 1031;
}

.curtain-login-area {
	position: fixed;
	
	height: 50%;
	min-height: 500px;
	width: 50%;
	min-width: 300px;
	
	top: 15%;
	right: 25%;
	bottom: 25%;
	left: 25%;
	
	padding-top: 5%; 
	
	background: #FFF;
	border: 1px solid #DDD;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	z-index: 1032;
	
	text-align: center;
}

@media screen and (max-width: 960px) {
	.curtain-login-area {
		width: 90%;
		right: 5%;
		left: 5%;
	}
}

.invisible {
	visibility: hidden;
}



.video-wrapper {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	overflow: hidden;

	i.fa-play {
		font-size: 40px;
		color: white;
		background-color: rgba(255, 255, 255, 0.4);
		padding: 6px;
		border-radius: 6px;
		position: absolute;
		top: 5px;
		left: 5px;
	}
}


// import page styles

@import "homepage";
@import "model-box";
@import "model-box-small";
@import "ang-gri-gal";


// pages
@import "model";
@import "date";
