<div class="model-box-small-wrapper">
	<div class="model-box-small-category" ng-attr-title="{{modelCategoryName}}">{{modelCategoryName}}</div>
	<div class="model-box-small-image-wrapper">
		<img ng-show=" model.images[0]" ng-src="{{getMediumImage(mainImage)}}">
		<img ng-show="!model.images[0]" ng-src="{{defaultImage}}">
	</div>
	<div class="model-box-small-name" ng-style="{background: ((model.color && (showChooseButton || showDeleteButton || showMakeAvailableButton)) ? getColorNumber(model.color) : '#FFF')}">
		<a href="#/model/{{model.hash}}" ng-attr-title="{{model.name}}">{{model.name}}&nbsp;</a>
	</div>
	<div class="model-box-small-toolbar" ng-style="{background: ((model.color && (showChooseButton || showDeleteButton || showMakeAvailableButton)) ? getColorNumber(model.color) : '#FFF')}">
		<a href="javascript:;" class="btn btn-link pull-right icon-red" 
			ng-if="showDeleteButton"
			ng-click="deleteModel(model.id);" 
			title="Delete the model from the system">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		
		<a href="#/model/{{model.hash}}" class="btn btn-link pull-right" title="View/Edit model details"><i class="glyphicon glyphicon-pencil"></i></a>
		
		<a href="javascript:;" class="btn btn-link pull-right icon-orange" title="Mark model as stand-by for this date"
			ng-if="showExcludeButton" ng-click="onExclude();"><i class="glyphicon glyphicon-minus-sign"></i></a>
			
		<a href="javascript:;" class="btn btn-link pull-right icon-green" title="Mark model as relevant for this date"
			ng-if="showIncludeButton" ng-click="onInclude();"><i class="glyphicon glyphicon-plus-sign"></i></a>
		
		<a href="javascript:;" class="btn btn-link pull-right icon-green" title="Choose model for this date"
			ng-if="showChooseButton" ng-click="onChoose();"><i class="glyphicon glyphicon-ok"></i></a>
		
		<a href="javascript:;" class="btn btn-link pull-right icon-orange" title="Un-Choose model for this date"
			ng-if="showUnChooseButton" ng-click="onUnChoose();"><i class="glyphicon glyphicon-remove"></i></a>
		
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showRelocateButton"
			ng-click="relocateModel(model.id, 'top');" 
			title="Move the model to the top of the list">
			<i class="glyphicon glyphicon-chevron-up"></i>
		</a>
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showRelocateButton" 
			ng-click="relocateModel(model.id, 'bottom');" 
			title="Move the model to the bottom of the list">
			<i class="glyphicon glyphicon-chevron-down"></i>
		</a>
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showMakeAvailableButton" 
			ng-click="onMakeAvailable();" 
			title="Make that model relevant for that date">
			<i class="glyphicon glyphicon-upload"></i>
		</a>
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showMakeUnavailableButton" 
			ng-click="onMakeUnavailable();" 
			title="Make that model NOT relevant for this date">
			<i class="glyphicon glyphicon-download"></i>
		</a>
		<!-- Phone -->
		<a ng-href="tel:{{model.phone}}" class="btn btn-link" 
			ng-if="hasRestrictedAccess && model.phone" 
			ng-attr-title="Call {{model.phone}}" target="_blank">
			<i class="glyphicon glyphicon-phone-alt"></i>
		</a>
		<!-- whatsapp mobile -->
		<a ng-href="https://api.whatsapp.com/send?phone={{addCountryCode(model.phone)}}" class="btn btn-link" 
			ng-if="hasRestrictedAccess && model.phone && $root.isMobile" 
			title="Send WhatsApp message" target="_blank">
			<img src="/images/icons/whatsapp.png" width="14" height="14" />
		</a>
		<!-- whatsapp web -->
		<a ng-href="https://web.whatsapp.com/send?phone={{addCountryCode(model.phone)}}" class="btn btn-link" 
			ng-if="hasRestrictedAccess && model.phone && !$root.isMobile" 
			title="Send WhatsApp message" target="_blank">
			<img src="/images/icons/whatsapp.png" width="14" height="14" />
		</a>
	</div>
</div>
