<div class="model-box-wrapper extended" ng-class="{'model-box-with-color': (showChooseButton || showDeleteButton)}">
	<!-- the gallery -->
	<an-gri-gal ng-if="galleryIsOpen" images="model.images" on-close="openGallery();"></an-gri-gal>
	
	<!-- using "showChooseButton || showDeleteButton" to check permissions -->
	<div class="model-box-color-span" ng-style="{background: getColorNumber(model.color)}" ng-if="showChooseButton || showDeleteButton">
		<a href="javascript:;" title="Click to change the color" class="choose-color-button" ng-click="colorPalette.show = !colorPalette.show;">
			<i class="glyphicon glyphicon-tint"></i>
		</a>
		
		<a ng-if="colorPalette.show" href="javascript:;" class="color-box color-box-default" ng-click="chooseModelColor();"></a>
		<a ng-if="colorPalette.show" href="javascript:;" class="color-box color-box-magenta" ng-click="chooseModelColor('magenta');"></a>
		<a ng-if="colorPalette.show" href="javascript:;" class="color-box color-box-lightgreen" ng-click="chooseModelColor('lightgreen');"></a>
		<a ng-if="colorPalette.show" href="javascript:;" class="color-box color-box-orange" ng-click="chooseModelColor('orange');"></a>
		<a ng-if="colorPalette.show" href="javascript:;" class="color-box color-box-blue" ng-click="chooseModelColor('blue');"></a>
		<a ng-if="colorPalette.show" href="javascript:;" class="color-box color-box-turquoise" ng-click="chooseModelColor('turquoise');"></a>
	</div>
	
	<!-- display model tags -->
	<div 
		ng-show="model.tags" 
		ng-repeat="modelTag in getModelTags()" 
		class="model-tag" 
		ng-attr-title="{{modelTag}}" 
		ng-style="{'top': ($index * 25 + 30) + 'px'}"
		>{{modelTag}}</div>
	
	<div class="main-image-wrapper">
		
		<!-- the search icon -->
		<a ng-click="openGallery();" class="main-image-lightbox-link" title="Click to see model images in original size">
			<i class="fa fa-search"></i>
		</a>
		<img ng-if=" model.images[0]" ng-src="{{getMediumImage(mainImage)}}">
		<img ng-if="!model.images[0]" ng-src="{{defaultImage}}">
	</div>
	<div class="small-images-wrapper">
		<div class="small-image-wrapper" ng-repeat="i in [0, 1, 2]"
			ng-class="{
				'defined-small-image': model.images[i], 
				'selected-small-image': mainImage == $root.IMAGES_BASE_URL + '/' + model.images[i]
			}">
			<img ng-if=" model.images[i]" ng-src="{{getSmallImage(model.images[i])}}" ng-click="setMainImage(i);">
			<img ng-if="!model.images[i]" ng-src="{{defaultImage}}">
		</div>
	</div>
	<h2 class="model-name" ng-style="{background: ((model.color && (showChooseButton || showDeleteButton)) ? getColorNumber(model.color) : '#FFF')}">
		<a ng-href="#/model/{{model.hash}}" ng-attr-title="{{model.name}}">{{model.name}}&nbsp;</a>
	</h2>
	<div ng-init="notesEditor.public_notes = false"
		ng-dblclick="notesEditor.public_notes = true"
		ng-show="!notesEditor.public_notes"
		class="model-notes" 
		ng-style="{background: ((model.color && (showChooseButton || showDeleteButton)) ? getColorNumber(model.color) : '#FFF')}"
		ng-attr-title="{{model.notes}}">{{model.notes}}&nbsp;</div>
	<div class="model-notes" ng-show="notesEditor.public_notes">
		<form class="model-box-notes-editor" ng-submit="updateModelNote('public')">
			<input type="text" name="public-note" ng-model="model.notes" />
			<input type="submit" class="btn-primary" value="V" />
			<input type="button" class="btn-default" value="X" ng-click="notesEditor.public_notes = false;"/>
		</form>
	</div>
	<div ng-init="notesEditor.private_notes = false"
		ng-dblclick="notesEditor.private_notes = true"
		ng-show="!notesEditor.private_notes"
		class="model-notes model-private-notes" 
		ng-style="{background: ((model.color && (showChooseButton || showDeleteButton)) ? getColorNumber(model.color) : '#FFF')}"
		ng-attr-title="{{model.private_notes}}">
		<span ng-class="{'invisible': !$root.hasRestrictedAccess || !model.private_notes}">{{model.private_notes}}&nbsp;</span>
	</div>
	<div class="model-notes" ng-show="notesEditor.private_notes">
		<form class="model-box-notes-editor" ng-submit="updateModelNote('private')">
			<input type="text" name="private-note" ng-model="model.private_notes" />
			<input type="submit" class="btn-primary" value="V" />
			<input type="button" class="btn-default" value="X" ng-click="notesEditor.private_notes = false;"/>
		</form>
	</div>
	<div class="model-toolbar"><!--  ng-if="hasRestrictedAccess" -->
		<a href="javascript:;" class="btn btn-link pull-right icon-red" 
			ng-if="showDeleteButton"
			ng-click="deleteModel(model.id);" 
			title="Delete the model from the system">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
		
		<a href="#/model/{{model.hash}}" class="btn btn-link pull-right" title="View/Edit model details"><i class="glyphicon glyphicon-pencil"></i></a>
		
		<a href="javascript:;" class="btn btn-link pull-right icon-orange" title="Mark model as stand-by for this date"
			ng-if="showExcludeButton" ng-click="onExclude();"><i class="glyphicon glyphicon-minus-sign"></i></a>
			
		<a href="javascript:;" class="btn btn-link pull-right icon-green" title="Remove model from stand-by list"
			ng-if="showIncludeButton" ng-click="onInclude();"><i class="glyphicon glyphicon-plus-sign"></i></a>
		
		<a href="javascript:;" class="btn btn-link pull-right icon-green" title="Choose model"
			ng-if="showChooseButton" ng-click="onChoose();"><i class="glyphicon glyphicon-ok"></i></a>
		
		<a href="javascript:;" class="btn btn-link pull-right icon-orange" title="Un-Choose model"
			ng-if="showUnChooseButton" ng-click="onUnChoose();"><i class="glyphicon glyphicon-remove"></i></a>
		
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showRelocateButton"
			ng-click="relocateModel(model.id, 'top');" 
			title="Move the model to the top of the list">
			<i class="glyphicon glyphicon-chevron-up"></i>
		</a>
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showRelocateButton" 
			ng-click="relocateModel(model.id, 'bottom');" 
			title="Move the model to the bottom of the list">
			<i class="glyphicon glyphicon-chevron-down"></i>
		</a>
		<!-- Phone -->
		<a ng-href="tel:{{model.phone}}" class="btn btn-link" 
			ng-if="showDeleteButton && model.phone" 
			ng-attr-title="Call {{model.phone}}" target="_blank">
			<i class="glyphicon glyphicon-phone-alt"></i>
		</a>
		<!-- whatsapp mobile -->
		<a ng-href="https://api.whatsapp.com/send?phone={{model.phone}}" class="btn btn-link" 
			ng-if="showDeleteButton && model.phone && $root.isMobile" 
			title="Send WhatsApp message" target="_blank">
			<img src="/images/icons/whatsapp.png" width="14" height="14" />
		</a>
		<!-- whatsapp web -->
		<a ng-href="https://web.whatsapp.com/send?phone={{model.phone}}" class="btn btn-link" 
			ng-if="showDeleteButton && model.phone && !$root.isMobile" 
			title="Send WhatsApp message" target="_blank">
			<img src="/images/icons/whatsapp.png" width="14" height="14" />
		</a>
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showMakeAvailableButton" 
			ng-click="onMakeAvailable();" 
			title="Make that model relevant for that date">
			<i class="glyphicon glyphicon-upload"></i>
		</a>
		<a href="javascript:;" class="btn btn-link" 
			ng-if="showMakeUnavailableButton" 
			ng-click="onMakeUnavailable();" 
			title="Make that model NOT relevant for that date">
			<i class="glyphicon glyphicon-download"></i>
		</a>
	</div>
</div>
